[2020-01-22 08:03] shankarpandala opened #54 "Support for xgboost, lightgbm and catboost"
Support for xgboost, lightgbm and catboost

[2020-01-22 12:27] shankarpandala commented on #54
Completed

[2020-01-22 12:27] #54 closed

[2020-01-29 15:00] shankarpandala opened #63 "Include Adjusted R-square metric for regression"
**Is your feature request related to a problem? Please describe.**
R-square is not a correct metric when we have multiple features

**Describe the solution you'd like**
Adjusted R-square metric needs to be included for Regression

[2020-01-29 15:05] shankarpandala opened #64 "Option to choose categorical encoder"
**Is your feature request related to a problem? Please describe.**
User should be able to choose categorical encoder apart from the default one-hot encoder

**Describe alternatives you've considered**
Tried Already encoded data as input. Solves the issue for time being.

[2020-01-30 06:58] vivekmishra369 opened #65 "Skip building models that take more than a prespecified time to execute"
I would like to be able to pass an argument called timeout which skips a model if building the models crosses the timeout seconds

[2020-03-11 06:51] shankarpandala opened #73 "Implement Random State for consistent results"
Implement Random State for consistent results

[2020-07-06 17:27] pavansai26 opened #97 "running problem"
**Describe the bug**
catboost is not installing and it shows sys is not defined
 module not found error is coming

[2020-07-06 20:06] shankarpandala commented on #97
Try `import sys` before your code
This is designed to use catboost only if it is already installed. If it is not installed it will ignore. Will look into the issue and fix it in next release

[2020-07-07 19:31] rrupam commented on #97
I have the same problem. I have
`import sys`
before the code, but the error persists.

[2020-07-08 09:00] Branden-Kang commented on #97
I have the same problem but I solved it. Before running the "lazy predict" code, you should install catboost first. So, use this code to install catboost: !pip3 install catboost and then you can run the code "from lazypredict.Supervised import LazyClassifier".

[2020-07-08 09:58] Vipul-15 commented on #97
I installed catboost now, but the error still persists ( sys not defined) while I try to import using ---
from lazypredict.Supervised import LazyClassifier

[2020-07-08 10:04] shankarpandala commented on #97
@rrupam @Branden-Kang @Vipul-15
Install 'xgboost', 'catboost', 'lightgbm' before using lazypredict and let me know if this error still exists

[2020-07-08 10:08] Branden-Kang commented on #97
Yes. I fixed it. You need to install 'xgboost', 'catboost', 'lightgbm'. But, you have to remember that use pip3!!

[2020-07-08 10:22] Vipul-15 commented on #97
Yes @shankarpandala . I didn't had lightgbm, installed it. Now error is gone. 😃

[2020-07-08 10:24] shankarpandala commented on #97
@pavansai26 you can also install xgboost lightgbm and catboost for time being I will fix this sys issue soon.

[2020-07-08 14:16] guhan93 commented on #97
when i run the regression code i get only the learning rates

[2020-07-08 15:47] guhan93 commented on #97
having errors in stacking regressor

[2020-07-09 05:22] shankarpandala commented on #97
@rrupam @Branden-Kang @Vipul-15 @pavansai26

This issue is fixed in new patch and removed catboost

@guhan93 Please raise a new issue for it with details

[2020-07-09 05:22] #97 closed

[2020-07-09 12:56] guhan93 commented on #97
![image](https://user-images.githubusercontent.com/47147736/87042711-a82d6000-c211-11ea-8d2b-9a8ff2743f0b.png)

[2020-07-09 12:56] guhan93 commented on #97
solve this

[2020-07-09 13:00] guhan93 commented on #97
![image](https://user-images.githubusercontent.com/47147736/87043115-3acdff00-c212-11ea-83d2-a6dc5b570b1b.png)

[2020-07-09 18:05] guhan93 opened #102 "lazy regressor not working"
**Describe the bug**
the lazy regressor is not working

**To Reproduce**
Steps to reproduce the behavior:
1. run the lazy regressor code
2.you'll see there is no output displayed only the learning rates are available
3. no r-square value displayed
5. there is a problem in the stackregressor
4. see an error

ran on google colab

![image](https://user-images.githubusercontent.com/47147736/87074652-c

[2020-07-12 08:24] devdjdjdj commented on #65
@shankarpandala  What help do you need here ?

[2020-07-12 08:32] shankarpandala commented on #65
Do you have any idea to implement this?
If you like to implement this go ahead and raise pull request to dev branch once completed
I tried this and it was able to do only for linux.

[2020-07-12 08:44] devdjdjdj commented on #65
The basic idea would be to track the execution time and halt the subprocess at timeout.

Was the successful implementation in linux using signal ?
If not, then [this](https://stackoverflow.com/questions/366682/how-to-limit-execution-time-of-a-function-call-in-python) or [this](https://stackoverflow.com/questions/492519/timeout-on-a-function-call) should help.

[2020-07-12 12:39] shankarpandala commented on #65
Yes I was able to do it using signal in linux but it is not working in windows

[2020-07-13 06:37] shankarpandala commented on #102
I don't see you printing models
Just type models and see if it prints the table

Stacked regressor is not available yet but it won't stop you from getting results of other algorithms

[2020-07-13 11:28] guhan93 commented on #102
okay thanks, it's working

[2020-07-13 11:28] #102 closed

[2020-07-14 10:14] #73 closed

[2020-07-15 22:45] digifelis opened #109 "Help. How will I solve this problem?"
AdaBoostRegressor model failed to execute
all features must be in [0, 83] or [-84, 0]
BaggingRegressor model failed to execute
all features must be in [0, 83] or [-84, 0]
BayesianRidge model failed to execute
all features must be in [0, 83] or [-84, 0]
DecisionTreeRegressor model failed to execute
all features must be in [0, 83] or [-84, 0]
DummyRegressor model failed to execute
all features must

[2020-07-16 10:23] vaishalisvp opened #110 "Very slow in running a classification algorithm - how to make it faster?"
* Lazy Predict version: lazypredict-0.2.7
* Python version: 3
* Operating System: Windows

### Description

I am trying to run lazypredict code for a classification use-case and it has been stuck at 3% for over 2 hours. the data size is around 15,000 observations. Any way to speed up the code? Thanks!

### What I Did

[code]
![image](https://user-images.githubusercontent.com/31619885/87660277-19fc

[2020-07-17 13:56] mvpalheta opened #114 "Choose specific subset of algorithms"
How to i choose a specific subset of algorithms when run Lazypredict ??

[2020-07-17 17:23] #109 closed

[2020-07-17 19:29] ramanathan831 commented on #110
Hey, what was your Dataset set and was your processed killed after sometime?

[2020-07-18 14:31] shankarpandala commented on #114
Currently there is no such option. Will try to implement in next release

[2020-07-18 14:36] shankarpandala commented on #110
Let me know what it shows with verbose=1 and ignore_warnings=false

Also can you show me sample data? It looks like you are using text data which this library is not yet meant for. Text classification is not yet implemented.

[2020-07-18 20:50] vidyap-xgboost opened #115 "After pip installing lazypredict, import lazypredict doesn't work. Improvement in Documentation."
![Screenshot from 2020-07-19 02-14-43](https://user-images.githubusercontent.com/65642130/87861666-ffe06f80-c965-11ea-98d5-86b5b53d10b1.png)

From the above picture, it is clear that `lazypredict` is successfully installed, however, if I try to access it, it says *No module named `lazypredict`*. Why?

Also `README.rst` doesn't mention the steps to install this package and directly jumps to **USAGE

[2020-07-18 20:58] vidyap-xgboost opened #116 "Any reason why text files are written in reST instead of Markdown?"
Is it a personal choice or is there any technical reason where reST is better than Markdown? Asking this only because I rarely .rst file extensions.

[2020-07-18 21:09] vidyap-xgboost commented on #115
[UPDATE]

[code]
works only after following these steps on my environment (Ubuntu 18.04, python==3.6.9):

[code]
I added `$ pip3 install -r requirements_dev.txt` because when I ran the [example](https://pypi.org/project/lazypredict/) given in the docs, it asked me to install `numpy`. That should have been automatically installed when I ran `setup.py`, however, `requirements.txt` instruction was no

[2020-07-18 21:26] vidyap-xgboost commented on #115
[DOCUMENTATION]

In any example, for now let's take [Classification](https://github.com/shankarpandala/lazypredict#classification), the examples are written as if they're executed using a `.py` file. That's how I assumed because an interactive shell would include `>>>` in them. When I ran the `.py` file, it executed the program well, however, I did not see any output. Why? Because the original exa

[2020-07-20 06:04] shankarpandala commented on #116
@vidyap-xgboost I would say both. Markdown is used for simple markup and manual markup.
Here, I am using automatic documentation generation using sphinx. .rst is a good choice for this scenario.
You can read about when to use what here : https://eli.thegreenplace.net/2017/restructuredtext-vs-markdown-for-technical-documentation/

[2020-07-20 06:11] vidyap-xgboost commented on #116
It would be really nice to have instructions on how to contribute to text files using sphinx in `CONTRIBUTING.rst`. Thanks for the clarification.

[2020-07-20 06:15] shankarpandala commented on #115
@vidyap-xgboost This is interesting. No one faced this this issue.
can you create a new conda environment and try installing with pip instead of pip3 ?

Regarding numpy and other packages not getting installed with pip. I think that is how pip works. while conda install will check for every dependency and install them. As this library is not published in conda yet we cannot use conda.

But, let me

[2020-07-20 06:17] #115 closed

[2020-07-20 06:20] shankarpandala commented on #116
@vidyap-xgboost I am not expert in sphinx and there are many problems with documentation for this library. Will work on them and give you the instructions.

[2020-07-20 06:26] vidyap-xgboost commented on #115
**I will look into this.**

**Sure, thanks for the clarification.**

**I agree. I added the installation instruction directly on README assuming people would be looking for it. A direct link to the docs is already provided but beginners wouldn't know where to look for unless **Installation** is explicitly mentioned right in the GitHub README (if they come across this first).**

**Could you also an

[2020-07-20 06:27] vidyap-xgboost commented on #116
Sure. I am closing this issue here as there is clarity now. Thanks.

[2020-07-20 06:27] #116 closed

[2020-07-20 06:37] shankarpandala commented on #115
I see there is a issue in readme.
We need to print`models` variable to see the results. Try the same example again and just type models you will see the results.

[2020-07-20 06:41] vidyap-xgboost commented on #115
That would work. Without `print()`, it sent the wrong message to me.

[2020-07-20 06:58] shankarpandala commented on #115
Yeah it's a bug in the documentation that needs to be fixed. I appreciate your time in raising all the issues this will improve the library. Thanks.

[2020-07-20 07:01] vidyap-xgboost commented on #115
Happy to work on this library. I appreciate you starting this library as it is easier for prototyping before implementing complex models in Machine Learning. 👍

[2020-07-21 06:54] vidyap-xgboost opened #119 "Wouldn't it be nice if we can visualize the results of `models` instead of just looking at the table?"
Since the goal of `lazypredict` is to run the models quickly and give the results quickly to get insights in a high level, visualizing these results of `models` or `predictions` would be much easier to gather insights and draw some conclusion rather than looking at a table.

Or do you think users can use matplotlib or other libraries easily and why to bother writing a function for it?

Any views r

[2020-07-21 09:03] vaishalisvp commented on #110
hi yes, I was using text data. thanks for clarifying!

[2020-07-21 09:04] #110 closed

[2020-07-22 18:45] shankarpandala commented on #119
@vidyap-xgboost Reason why i am not plotting is, we are comparing algorithms across multiple metrics. A bar chart is space consuming and a line plot is a wrong way to plot and leads to incorrect interpretations.

If we can think of a way to represent all the important information in the table by a plot we can do it.

interactive plots using plotly etc might help. But, I want the code to run from c

[2020-07-22 18:47] shankarpandala commented on #110
@vaishalisvp Still thanks for raising the issue. I will try incorporate text classification also in future releases.

[2020-07-22 18:52] vidyap-xgboost commented on #119
I understand where you are coming from.. Interactive plots like plotly would be difficult to achieve from command line, don’t you think?

Giving it as an option sounds good enough. What are your thoughts around generating a simple plot by outputting as a HTML report?

[2020-07-22 22:13] shankarpandala commented on #119
I am thinking to isolate the plotting functions, then it wouldn't matter if they are in notebook or HTML page. As this is isolated, anyone using command line won't use it at the first place.

[2020-07-23 10:03] michael135 opened #122 "custom_metric (regression)"
`Custom_metric` is used for results evalutaion only?

Or it's also used in each model as `loss` for optimization?

[2020-07-23 16:57] vidyap-xgboost commented on #119
That sounds great.

[2020-07-23 18:50] shankarpandala commented on #122
@michael135 It's for evaluation only

[2020-07-24 08:36] shankarpandala opened #125 "Fix 'Redefining built-in &#39;copyright&#39;' issue in docs\conf.py"
[CodeFactor](https://www.codefactor.io/repository/github/shankarpandala/lazypredict) found an issue: Redefining built-in &#39;copyright&#39;

It's currently on:
[docs\conf.py:52
](https://www.codefactor.io/repository/github/shankarpandala/lazypredict/source/dev/docs/conf.py#L52)

[2020-07-24 08:36] shankarpandala opened #126 "Fix 'Trailing newlines' issue in docs\conf.py"
[CodeFactor](https://www.codefactor.io/repository/github/shankarpandala/lazypredict) found an issue: Trailing newlines

It's currently on:
[docs\conf.py:164
](https://www.codefactor.io/repository/github/shankarpandala/lazypredict/source/dev/docs/conf.py#L164)

[2020-07-24 08:36] shankarpandala opened #127 "Fix 'Trailing spaces' issue in .travis.yml"
[CodeFactor](https://www.codefactor.io/repository/github/shankarpandala/lazypredict) found an issue: Trailing spaces

It's currently on:
[.travis.yml:10
](https://www.codefactor.io/repository/github/shankarpandala/lazypredict/source/dev/.travis.yml#L10)

[2020-07-24 08:36] shankarpandala opened #128 "Fix 'Trailing spaces' issue in .travis.yml"
[CodeFactor](https://www.codefactor.io/repository/github/shankarpandala/lazypredict) found an issue: Trailing spaces

It's currently on:
[.travis.yml:5
](https://www.codefactor.io/repository/github/shankarpandala/lazypredict/source/dev/.travis.yml#L5)

[2020-07-24 08:38] shankarpandala opened #129 "Fix 'Using type() instead of isinstance() for a typecheck.' issue in lazypredict\Supervised.py"
[CodeFactor](https://www.codefactor.io/repository/github/shankarpandala/lazypredict) found an issue: Using type() instead of isinstance() for a typecheck.

It's currently on:
[lazypredict\Supervised.py:442
](https://www.codefactor.io/repository/github/shankarpandala/lazypredict/source/dev/lazypredict/Supervised.py#L442)

[2020-07-24 08:38] shankarpandala opened #130 "Fix 'Using type() instead of isinstance() for a typecheck.' issue in lazypredict\Supervised.py"
[CodeFactor](https://www.codefactor.io/repository/github/shankarpandala/lazypredict) found an issue: Using type() instead of isinstance() for a typecheck.

It's currently on:
[lazypredict\Supervised.py:233
](https://www.codefactor.io/repository/github/shankarpandala/lazypredict/source/dev/lazypredict/Supervised.py#L233)

[2020-07-24 10:40] #130 closed

[2020-07-24 10:41] #125 closed

[2020-07-24 10:41] #126 closed

[2020-07-24 10:41] #127 closed

[2020-07-24 10:41] #128 closed

[2020-07-24 10:41] #129 closed

[2020-07-26 09:30] michael135 commented on #122
@shankarpandala  Thank you.
Each method has is default `mean_squared_error` loss for optimization?
Or it has its default loss, which was defined in sklearn?
Is there any option to define parameters, for some of the models?

[2020-07-26 11:41] shankarpandala commented on #122
@michael135 All the model parameters are default.

[2020-07-27 12:50] michael135 commented on #122
Got it. Thank you.

[2020-07-27 12:50] #122 closed

[2020-08-21 18:52] andamchako opened #154 "package not predicting"
* Lazy Predict version: lazypredict-0.2.7
* Python version: 3.8
* Operating System: Windows 10 64-bit

### Description

I'm trying to make predictions but keep getting the same error both locally and on colab

### What I Did

[code]

[2020-08-24 13:24] shankarpandala commented on #154
@andamchako What are the datatypes of you input ?

[2020-08-28 20:19] dheeraj-2000 opened #167 "How I can use trained Regression model on new input feature"
Hii
I'm using LazyPredict to get performance of Regression models on a dataset (with LazyRegressor), and finally I am getting the performance table and prediction values from this

[code]

But now I want to know the prediction values on new input features.

So, how I can use this **model_r** to get the prediction table? or is there other way to get it ?

[2020-08-29 22:17] shankarpandala commented on #167
It is not possible to do that with current version.
I am planning to release it in the next version.

If you want to give a try, clone the dev branch of this repository and try. It creates two folders, one of which contains piclke files of all the models.

I haven't tested it yet.

[2020-09-01 16:47] varunsach opened #171 "ModuleNotFoundError: No module named 'xgboost'"
![Capture](https://user-images.githubusercontent.com/48254967/91882641-e76fae80-eca0-11ea-864d-ff5e7df9bd91.GIF)
@shankarpandala : i really liked this library and will help in future, reporting a bug / issue

**Describe the bug**
I have literally copy pasted the entire code in Jupyter notebook. I am getting an error

**ModuleNotFoundError: No module named 'xgboost'**

**Expected behavior**
A clear

[2020-09-01 17:01] shankarpandala commented on #171
Please install xgboost and lightgbm with pip

[2020-09-01 17:19] varunsach commented on #171
Thanks, that helps. I thought it will automatically install dependencies.

It now gives a error AttributeError: module 'sklearn.ensemble' has no attribute '_hist_gradient_boosting'

[2020-09-01 17:29] shankarpandala commented on #171
Hope you are using latest version?
For this error install latest version of scikit-learn

[2020-09-01 18:03] varunsach commented on #171
@shankarpandala .. i updated packages and i think package issue is fixed... but next issue is as follows
it throws below error and stops after 84% processing
![Capture1](https://user-images.githubusercontent.com/48254967/91889391-64078a80-ecab-11ea-81b3-efeffbcc3e6e.GIF)

[2020-09-01 18:04] shankarpandala commented on #171
change ignore_warnings to True

[2020-09-01 18:12] varunsach commented on #171
@shankarpandala did that, still it shows the same error

**StackingRegressor model failed to execute
__init__() missing 1 required positional argument: 'estimators'**

![Capture2](https://user-images.githubusercontent.com/48254967/91890166-abdae180-ecac-11ea-8476-fb169d7fdd39.GIF)

[2020-09-01 18:14] shankarpandala commented on #171
I can still see it as false in screenshot.
Change it to True

[2020-09-01 18:15] shankarpandala commented on #171
It is completed. It shows 100%

Just type models in next cell to see the table

[2020-09-01 18:19] varunsach commented on #171
@shankarpandala
superb, it works now. I really appreciate your patience and response time. For novice like me you guys are blessing. All the best for your future, last but not the least, fantastic package to work with.

[2020-09-01 18:19] #171 closed

[2020-09-04 08:35] dheeraj-2000 commented on #167
@shankarpandala Okay sure! I'll also try it.

Thank you.

[2020-09-08 20:27] jp-varela opened #182 "Add multiple output capability"
**Is your feature request related to a problem? Please describe.**
I am trying to do a multi class output model. Not working as the code expects a 1D array not 2D.

**Describe the solution you'd like**
Ideally I'd love to just add as lazypredict arguments an train_Y and test_Y as 2D arrays.

[2020-10-18 23:46] byrnesy opened #223 "Error - Stacking Regressor"
Hi,

I have copied the sample code for the regression comparison (Boston dataset).

It starts running and then stops with the following error message

StackingRegressor model failed to execute
__init__() missing 1 required positional argument: 'estimators'

Context
I am using sklearn = '0.23.1'
Using jupyter lab
Browser = Firefox

[2020-10-28 16:56] devdjdjdj opened #229 "Get model object"
I couldn't find any methods to return the model objects that are trained.

Does lazypredict allow that? If yes, how ?

[2020-12-15 06:20] shyamcody opened #284 "Dependency list needs to be expanded"
**Describe the bug**
The current dependencies mentioned are not enough. User has to manually download multiple other libraries such as tqdm,xgboost, lightgbm, pytest. So please add these to the dependency/ requirements so that it automatically downloads these files when lazypredict is installed in an environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new python environment

[2020-12-15 06:59] shyamcody commented on #229
I went through the class codes of both lazyclassifier and lazyregressor and it seems that the table object is created using the fit() method in the classes but they don't return the model objects fitted. One solution could be done to accept a parameter called return_model where we would get the model_list also. I would request @shankarpandala to please take a look at this as it will make a good fe

[2020-12-15 07:10] shankarpandala commented on #229
@shyamcody If you can implement that please go ahead

[2020-12-15 08:24] shyamcody commented on #229
I will try to create a pull request regarding this.

[2020-12-17 06:23] tanmaylaud opened #286 "CheckingClassifier is a mock class and should not be available in models"
Refer to https://scikit-learn.org/stable/whats_new/v0.22.html :

API Change The following utils have been deprecated and are now private:

mocking.CheckingClassifier

[2021-01-05 15:00] shyamcody commented on #229
I have added PR #301 to solve this @shankarpandala . Can you please check and suggest if any change is needed?

[2021-01-08 13:45] erykml commented on #223
The reason for this error is that the library tries to fit the `StackingRegressor` without actually passing in any base regressors, which logically will not work. What you can do is clone the code, remove `StackingRegressor` from the list of regressors, and install the library from your local code. Hope this helps :)

On a side note, this seems like an uncommitted change by the author, as in the e

[2021-01-08 13:58] erykml commented on #223
Alternatively, set `ignore_warnings` to `True` and it will also run.

[2021-01-09 19:18] erikjamesmason opened #303 "ModuleNotFoundError for lazypredict '0.2.7' and sklearn version: '0.24.0'"
**Describe the bug**

when using `from lazypredict.Supervised import LazyClassifier` in jupyter notebook:

[code]

**Versions**
sklearn version: '0.24.0'
Jupyter:
jupyter core     : 4.6.3
jupyter-notebook : 6.1.1
qtconsole        : 4.7.7
ipython          : 7.19.0
ipykernel        : 5.3.4
jupyter client   : 6.1.7
jupyter lab      : 2.2.6
nbconvert        : 5.6.1
ipywidgets       : 7.5.1
nbformat

[2021-01-09 23:50] wolfiex opened #304 "LinearRegressor producing same value for all test data predictions."
**Describe the bug**
LazyRegressor output (prediction) array produces a single near-constant value for all items within a model. This does not begin to describe the data. Data input is (very loosely) sinusoidal in shape. This occurs with both real and standardized values.

**To Reproduce**
Steps to reproduce the behaviour:
following the regression example within the documentation

**Expected behav

[2021-01-10 06:14] shankarpandala commented on #303
Thanks for raising the issue.
Please use sklearn 0.23.1 while using 0.2.7 version of lazy predict
In the next version of lazypredict I will update it to sklearn 0.24

[2021-01-10 06:14] #303 closed

[2021-01-10 15:36] shyamcody commented on #182
As I see the code structure, there will be a lot of issues to implement this currently. Can you just pass each label at a time using a loop for time being?

[2021-01-11 01:17] brendalf commented on #284
I would like to fix this. What you think, @shankarpandala?

[2021-01-11 01:18] brendalf commented on #63
What do you have in mind? Replace the r-squared with adjusted r-squared or leave both?

[2021-01-11 02:22] shankarpandala commented on #284
Sure go-ahead

[2021-01-11 04:37] shankarpandala commented on #63
I will include it in the next release.
If you want work on it. Please go ahead and raise a PR

[2021-01-11 04:42] #229 closed

[2021-01-11 04:45] #154 closed

[2021-01-11 04:50] shankarpandala commented on #304
@wolfiex This is strange. Can you try with a different dataset and let me know if this issue occur?

[2021-01-11 06:52] shyamcody commented on #284
not like denying the assignment or anything but didn't you want to assign @brendalf ?

[2021-01-11 10:02] Tarrannum commented on #154
I am facing the same issue, the dtypes selected are int64 and float64

[2021-01-11 16:20] brendalf commented on #63
Ok, I will get it done.

[2021-01-11 16:23] #223 closed

[2021-01-11 16:24] shyamcody commented on #167
@dheeraj-2000 we have added a feature provide_models ( not released yet) in supervised.py. This will let you now download the models trained. I guess that should solve this issue.

[2021-01-11 17:09] dheeraj-2000 commented on #167
@shankarpandala that's great ✌️
I'll check it as soon as possible.

Thank you

[2021-01-11 17:24] shyamcody opened #309 "Hyperparameter tuning"
**Is your feature request related to a problem? Please describe.**
Recently I saw a review of this library where the user suggested that we should include hyperparameter tuning. I do realize it will increase the train time significantly, but it does sound like a good feature.

**Describe the solution you'd like**
Optional parameter to tune the hyperparameters of the models while being fitted lazyc

[2021-01-12 23:15] devdjdjdj commented on #229
@shankarpandala I see that this is added to the 0.2.8 milestone. Does the release have a timeline ?

[2021-01-13 02:25] brendalf commented on #284
Working on the issue, I found this line inside the setup.py file:
`python_requires=">=3.8, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, !=3.4.*",`

Is there any special reason for python >= 3.8? I guess that the remaining conditions can be removed, what you guys think?

[2021-01-13 02:41] brendalf commented on #284
It also appears that this issue happens in the latest version available, tag v0.2.7, because the setup.py there only installs the click as requirement.

setup.py on v.0.2.7:
[code]

The setup.py inside the dev branch already fix this issue, with the commit 45fad6b1 from @shankarpandala.

setup.py on dev:
[code]

There still some bugs with the dependency list I'm fixing right now.

[2021-01-13 11:20] #63 closed

[2021-01-13 11:20] #284 closed

[2021-01-13 11:26] shankarpandala commented on #284
@brendalf and @shyamcody

I whole heartedly appreciate all the efforts you both are putting to make things right with lazypredict.

Please let me if there is anything I can help from my side.

Big down side is the current code is not suitable for cross validation and hyperparameter tuning. Please let me know you guys have any ideas with less efforts.

[2021-01-13 11:57] shyamcody commented on #284
Maybe we need to incorporate some autoML tool that will take a model object in and give out the best parameters. I have already raised a separate issue for the hyperparameter optimization; and reviewing some automl frameworks as I am new in that. Will make some comments once I get a good idea. Currently, optuna and H20ai seems promising.

[2021-01-13 16:43] shankarpandala commented on #154
Can you show any reproducible example ?

[2021-01-13 16:44] shankarpandala commented on #229
I will do it next week

[2021-01-15 07:20] zyjcs opened #315 "AttributeError: module 'lightgbm' has no attribute 'LGBMRegressor'"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-9-306802b0b17a> in <module>
----> 1 from lazypredict.Supervised import LazyClassifier, LazyRegressor
      2 from sklearn.model_selection import train_test_split
      3 from sklearn import datasets
      4 from lightgbm import *

~/

[2021-01-19 08:02] shyamcody commented on #315
[Is this a relevant answer](https://stackoverflow.com/questions/55312601/attribute-error-module-lightgbm-has-no-attribute-lgbmclassifier-and-datas) for you? is it possible that your script name is lightgbm.py. That ends up creating this issue. Check for example [this issue](https://github.com/microsoft/LightGBM/issues/706) as well where the solution is again same. If your script name is lightgbm.p

[2021-01-19 15:27] shankarpandala commented on #284
@brendalf Travis CI is failing for this commit stating requirements.txt not found. Can you check why it is failing even the file is there.

[2021-01-20 15:40] Vinitkumar89 opened #317 "Taking too much time to run ."
* Lazy Predict version:
* Python version:
* Operating System:

### Description

I tried to run lazypredict regressor on a black friday sales train dataset n it gets stuck on 60 %-63% . dataset has 55,000 rows.

### What I Did

[code]

[2021-01-21 02:26] brendalf commented on #284
@shankarpandala off course. I will take a look

[2021-01-21 02:48] brendalf commented on #284
@shankarpandala, PR #318 should fix this issue.

[2021-01-23 11:56] brendalf commented on #114
@mvpalheta, now there is a option to pass a list of specific estimators.

[2021-01-23 11:57] brendalf commented on #114
@mvpalheta, now there is a option to pass a list of specific estimators.

Check the PR #319.

[2021-01-23 11:57] #114 closed

[2021-01-23 23:52] #286 closed

[2021-01-24 04:46] praveenkumar-ravising opened #324 "custom_metric parameter returns error when set for LazyClassifier"
Description:
Setting custom_metric of LazyClassifier returns a ValueError: arrays must all be same length.

Steps to reproduce the behavior:
Set the value of custom_metric in LazyClassifer to sklearn.metrics log_loss

Expected behavior:
Log Loss metric column should be returned in the scores dataframe

Screenshot:
![image](https://user-images.githubusercontent.com/19551626/105621296-04617580-5e2c-

[2021-02-04 12:21] LaurentBerder opened #325 "Lazypredict package should check for dependencies at installation"
Hi,

I wanted to give your package a try, but can't.
A bit of description of my setup:

* Operating System: Google Colab Notebook (Linux)
* Python 3.6.9
* lazypredict==0.2.7
* scikit-learn==0.24.0

I'm getting an error just by importing your package.

[code]

[code]

It seems to be a discrepancy between the version of **SciKit-Learn** I have and the one that **LazyPredict** expects, since the arch

[2021-02-05 14:50] qemtek commented on #325
second this

[2021-02-06 15:05] brendalf commented on #325
Hi guys, thanks for opening this issue.
Indeed, the current version of lazypredict requires that you use the `scikit-learn==0.23.1`, because a couple things have changed after the sckit-learn upgrade to version 0.24.

We need to update the lazypredict support of scikit-lean.

I'm planning to do this on the next weeks, but if any of you wanted to give a try, please, let me know and go ahead.

[2021-02-06 15:10] brendalf commented on #167
We've just released the lazypredict v0.2.8 with the `provide_models` that @shyamcody annunced.
@dheeraj-2000  can you try it? I'm closing this issue for now.

[2021-02-06 15:10] #167 closed

[2021-02-06 15:14] brendalf commented on #304
Any updates, @wolfiex ?

[2021-02-06 15:21] brendalf commented on #317
Hi @Vinitkumar89 , thank you for the report.

How many features your dataset has? There is categorical features or all features are numerical?

[2021-02-06 15:22] brendalf commented on #315
Hi @zyjcs, the @shyamcody answer solved your problem?

[2021-02-06 15:28] brendalf commented on #119
I was thinking about this, one option could be a simple bar plot for only one metric that the user can choose. What you guys think?
It's a faster way to release a mvp for this feature.

[2021-02-07 22:43] wolfiex commented on #304
Not yet, gotten around to it. Data collection of another dataset takes time.

[2021-02-08 13:07] qemtek opened #327 "Massive memory usage running the LazyClassifier"
**Describe the bug**
Using a dataset with 500k rows and 27 features, I ran into a huge memory issue on iteration 12/30. Screenshot included so you can see how much memory was being used.

![Screenshot 2021-02-08 at 13 02 49](https://user-images.githubusercontent.com/18211372/107223661-5e5a6180-6a0e-11eb-97d6-ce162327a19f.png)

**Desktop (please complete the following information):**
 - OS: OSX Cat

[2021-02-08 15:33] LaurentBerder commented on #325
Sorry @brendalf, I admit I wouldn't know how.
I did, however, give a try with `scikit-learn==0.23.1`, and hit another issue with **scipy** version, as it seems only version `scipy==1.6.0` is supported. Which assumes only `python 3.6` at the highest (I was trying out with python 3.9).

[2021-02-09 01:04] asad-mahmood commented on #325
Go to Supervised.py and change this line

`from sklearn.utils.testing import all_estimators`

to

`from sklearn.utils import all_estimators`

I did this in my environment and it works fine now.

[2021-02-11 14:29] jolio007 opened #328 "feature not accepted - sparse matric"
* Lazy Predict version: latest
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
I have one feature. This feature is a
`<1044374x15537 sparse matrix of type '<class 'numpy.float64'>'
	with 10514625 stored elements in Compressed Sparse Row format>`
I'm guessing that's where the problem comes from, I'm getting  :

`~\AppData\Roaming\Python\Python38\si

[2021-02-12 15:12] hrsht-13 opened #329 "scipy version"
ERROR: Could not find a version that satisfies the requirement scipy==1.6.0 (from lazypredict) (from versions: 0.8.0, 0.9.0, 0.10.0, 0.10.1, 0.11.0, 0.12.0, 0.12.1, 0.13.0, 0.13.1, 0.13.2, 0.13.3, 0.14.0, 0.14.1, 0.15.0, 0.15.1, 0.16.0, 0.16.1, 0.17.0, 0.17.1, 0.18.0rc2, 0.18.0, 0.18.1, 0.19.0, 0.19.1, 1.0.0b1, 1.0.0rc1, 1.0.0rc2, 1.0.0, 1.0.1, 1.1.0rc1, 1.1.0, 1.2.0rc1, 1.2.0rc2, 1.2.0, 1.2.1, 1.

[2021-02-14 16:23] shyamcody commented on #329
@brendalf I am also facing same issue. Can we turn just 1.6.0 to more than equal to 1.6.0?

[2021-02-15 05:47] shankarpandala commented on #329
I am not seeing this issue. I am able to install without any issues

[2021-02-15 06:38] shyamcody commented on #329
I faced it when I tried to download in colab. Not sure how to give environment details for colab.

[2021-02-17 05:42] Vinitkumar89 commented on #317
Hi @brendalf.

sorry for the late reply.
It has 2 categorical and 10 numerical features in it. with  train data having 550068 rows and test data having 233529 rows.

[2021-02-17 10:42] filipre commented on #329
I "fixed" this by using
[code]

[2021-02-17 10:51] shyamcody commented on #329
yeah that works! so then clearly the problem is with the latest version

[2021-02-17 11:07] shankarpandala commented on #329
@brendalf Any idea why this is failing?

It worked in my laptop but it failed in colab.

[2021-02-17 11:18] hrsht-13 commented on #329
@filipre  Thank you, it worked.

[2021-02-17 11:18] #329 closed

[2021-02-17 13:19] brendalf commented on #329
Hi everyone, sorry for the late reply.

The error is happening in which specific version? Before v0.2.7?

[2021-02-17 13:23] brendalf commented on #329
I guess we can indeed replace `scipy==1.6.0` with `scipy>=1.6.0`, as you suggested @shyambhu123.
My only concern is about compatibility and depreceated functions. Perhaps we should start building some coverage tests for the library, what do you guys think?

[2021-02-17 13:29] brendalf commented on #317
@shankarpandala, can you help me here? You know what model the lazypredict is stuck (step 26/43)?
Different version of lazypredict tends to have a different number of classifiers/regressors to train. I think that a quick win here can be the progress bar showing up what model is currently running.

[2021-02-17 13:33] shankarpandala commented on #317
We can see which model is running by setting verbose>1

[2021-02-17 15:02] filipre commented on #329
Can someone explain the error message? Why does the package think that scipy 1.6. is not valid? Where does this list of versions come from? Why does it stop at 1.5.4? I've got similar errors from other packages and never figured out the root cause.

[code]

[2021-02-17 15:51] shankarpandala commented on #329
updated scipy to an older version
I have verified and is working on colab.

[2021-02-17 15:53] shankarpandala commented on #329
Scipy>=1.6.0 also won't work as it is the latest version available now
I have downgraded scipy to 1.5.4

[2021-02-17 15:54] shankarpandala commented on #329
@hrsht-13 @shyamcody @filipre
Please use the latest version of lazypredict==0.2.9. This issue is fixed

[2021-02-17 16:54] brendalf commented on #329
Excellent, @shankarpandala.
About the tests, I'll get done in the weekend, okay?

[2021-02-17 16:58] shankarpandala commented on #329
Sure @brendalf

[2021-02-19 20:07] shyamcody commented on #328
I guess the issue is not with the library here, but with the input object being a sparse matrix; which is instead of getting treated as a dataframe and thus throwing an error. Please use `pd.DataFrame(X.toarray())` to turn your feature into a dataframe and then pass it to the model. The problem should probably go away. @brendalf do you think we need to add a check to our input for the sparse matri

[2021-02-19 23:36] brendalf commented on #328
Thank you for the help @shyamcody. I agree with you, it seems a bit unnecessary. Perhaps we can just print a message if the input isn't a numpy ndarray or a pandas DataFrame. Something like: 'you need to pass a pandas DataFrame or a numpy ndarray'.
What do you think?

[2021-02-22 03:27] JunMa11 opened #332 "Intall ERROR: Cannot uninstall 'PyYAML'."
**Describe the bug**
A clear and concise description of what the bug is.

Thanks for the great work.

I have the following errors when installing the latest lazypredict.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install lazypredict`

**Screenshots**

![image](https://user-images.githubusercontent.com/19947331/108652978-57e4e300-7500-11eb-9bdf-ec6061635bab.png)

![image](ht

[2021-02-22 14:39] zyjcs commented on #315
It's ok ~  Thank you very much. You do a great  jobs.

[2021-02-22 15:20] #315 closed

[2021-02-23 13:59] nishnash54 commented on #332
The `--ignore-installed` flag should do the trick.
Something like this `pip install --ignore-installed PyYAML`.
If not try one of the solutions from [here](https://stackoverflow.com/questions/49911550/how-to-upgrade-disutils-package-pyyaml)

[2021-02-24 11:50] JunMa11 commented on #332
Hi @nishnash54 ,

Thank you so much.

It works!

Best,
Jun

[2021-02-24 11:50] #332 closed

[2021-03-03 03:26] JunMa11 opened #334 "how to get per cases prediction results?"
**Is your feature request related to a problem? Please describe.**
I run the demo code and find the `models` and `predictions` are the same.

![image](https://user-images.githubusercontent.com/19947331/109747933-f664f880-7c12-11eb-87c3-3d17c07eb593.png)

**Describe the solution you'd like**

How can I get the per case predictions?

Kindest regards,
Jun

[2021-03-03 12:09] shankarpandala commented on #334
@JunMa11 This feature is already available. You just need use predictions = True in the LazyRegressor or LazyClassifier.

[2021-03-04 00:25] JunMa11 commented on #334
Hi @shankarpandala ,

Got it.

Thanks for your reply very much:)

Best,
Jun

[2021-03-04 00:25] #334 closed

[2021-03-24 14:34] rushiai opened #337 "ImportError: cannot import name 'values_from_object' from 'pandas._libs.lib'"
* Lazy Predict version:
* Python version:
* Operating System:

### Description

Im running libeary on google colab

### What I Did
clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)
models

[code]

[2021-03-27 11:18] ManuFU commented on #337
I had the same problem.
Following helped:

pip uninstall pandas
pip install pandas

[2021-03-27 11:29] ManuFU opened #339 "'ColumnTransformer' object has no attribute '_check_n_features'"
**Describe the bug**
When fitting the LazyRegressor, i get following output for all algorithms.

![image](https://user-images.githubusercontent.com/15906404/112719208-0614eb80-8ef8-11eb-9abd-e080ae0be6b4.png)

**To Reproduce**
Steps to reproduce the behavior:
Check out this notebook
https://colab.research.google.com/drive/1CZa8rL2N4PxUqhCKAyzO3incPFfGwwIM?usp=sharing

**Expected behavior**
I expec

[2021-03-27 13:02] brendalf commented on #339
Hi @ManuFU, thank you for opening this issue.
@shankarpandala, when the input doesn't have categorical features, the categorical_low and categorical_high column transformers are useless. Perhaps this is causing the issue?

Doing some research, I've found that this issue can also be related to sklearn versions conflict. But looking at the notebook, I didn't find any.

[2021-04-07 14:01] jolio007 opened #343 "ImportError: cannot import name '_raise_dep_warning_if_not_pytest' from 'sklearn.utils.deprecation' Anaconda3\lib\site-packages\sklearn\utils\deprecation.py)"
**Describe the bug**
I haven't got anything complex... the same code as the tutorial
[code]

I'm getting this error message. Could be my config. Please help

[code]

Python  version : 3.7.4
pip check lazypredict
instapy 0.6.10 has requirement jsonschema<3,>=2.6.0, but you have jsonschema 3.2.0.
clarifai 2.6.2 has requirement configparser<4,>=3.5, but you have configparser 5.0.0.
clarifai 2.6.2 has

[2021-04-09 14:07] janaSunrise opened #344 "Tuple model failed to execute"
**Describe the bug**

I am trying to train model, and get the results, but I keep getting `tuple model failed to execute.`

**Expected behavior**

It's supposed to be trained, and give me all predictions and info.

**Screenshots**
![Screenshot from 2021-04-09 19-34-20](https://user-images.githubusercontent.com/56873669/114192206-d8558b00-996a-11eb-99c9-c94d75fed9e7.png)
![Screenshot from 2021-04-0

[2021-04-09 18:38] janaSunrise commented on #344
I found the cause by doing this
![Screenshot from 2021-04-10 00-07-37](https://user-images.githubusercontent.com/56873669/114226178-e1595300-9990-11eb-8b7c-083ee7b0f2f6.png)
![Screenshot from 2021-04-10 00-07-31](https://user-images.githubusercontent.com/56873669/114226180-e28a8000-9990-11eb-99a6-a6d3a7287547.png)

Hope it helps!

[2021-04-10 02:38] #339 closed

[2021-04-13 03:04] canerferhatoglu opened #345 "K-fold Cross-validation and built-in Predict function would be great"
* Lazy Predict version:
* Python version:
* Operating System:

### Description

-I wish I could do 5 or 10 fold Cross-validation and get RMSE and STD results in the table.
-Also, I wish there was built in predict function.

### What I Did

[code]

[2021-04-15 16:00] quekjinhao opened #346 "Custom classifiers issue"
Hi, I am able to call LazyClassifier and everything displays as expected.

However, when passing in a list to "classifiers" for specific algorithms, they have been showing up as either "ABCMeta" or "Type".
I've attached an example passing in two classifiers but this also affects larger lists.
![image](https://user-images.githubusercontent.com/61215296/114900830-d0a05580-9e46-11eb-8f89-a9aaa32ace02

[2021-04-15 18:08] brendalf commented on #346
Hi @quekjinhao, thank you for reporting this. I'll take a look into it.

[2021-04-17 11:53] Rushi21-kesh opened #347 "ModuleNotFoundError: No module named 'sklearn.utils.testing'"
* Lazy Predict version: '0.2.7'
* Python version:  3.8.0
* Sklearn version : 0.21.3 / 0.23.1 /  0.24.1
* Operating System: Windows 10

### Description

I'm trying to Import LazyRegressor from lazypredict.Supervised

But while importing I'm getting an error  " ModuleNotFoundError: No module named 'sklearn.utils.testing' ". I try it by installing  Sklearn version: 0.21.3 / 0.23.1 /  0.24.1 but the s

[2021-04-23 17:33] adarshchbs commented on #347
Change the sklearn version to 23.x instead of 24.x.

[2021-04-29 18:26] WOKNz commented on #347
I tried to change:
`from sklearn.utils.testing import all_estimators` to

[2021-05-14 12:35] sanromd commented on #347
I came across the same problem that @Rushi21-kesh mentioned. The `ModuleNotFoundError` arises when removing classifiers and regressors. I solved the issue by modifying the firs couple of lines in `Supervised.py`. Instead of building a list of tupples (`estimator_name`, `sklearn.moduleX`) to remove, create a list with `estimator_name` to remove  then use it in the list comprehension to remove them.

[2021-05-22 00:19] KangboLu opened #350 "Add a custom metric example for the classifier or regressor"
**Is your feature request related to a problem? Please describe.**
I noticed you used the weighted F1 score as the default metric for F1.
Sometimes, you don't want to just use the weighted version. There is no example of how should the users add their customized scorer function.

**Describe the solution you'd like**
Can you provide an example of how to add a custom scorer to the classifier or the

[2021-05-22 00:30] KangboLu commented on #324
@praveenkumar-ravising  I faced the same issue when I use make_scorer of sklearn to define an f1 macro scorer. There is no documentation of how to correctly make a custom metric scorer for lazypredict.

[2021-05-24 16:39] NIU-DSIC-AJ commented on #343
I have been getting the same error.  I think LazyPredict does not support the most recent version of Scikit-Learn (0.24.2).

[2021-06-07 09:06] kgmat opened #351 "incompatiable with Scikit-learn V0.24.2"
Hello,

Facing this issue.

**lazypredict 0.2.9 requires scikit-learn==0.23.1, but you have scikit-learn 0.24.2 which is incompatible.**

lazypredict has to be restricted to scikit older version?

thanks

[2021-06-08 19:22] agupta004 commented on #325
How do you go to Supervised.py?

[2021-06-08 23:10] duybuile opened #352 "Custom classifier does not work"
When we select the custom `classifiers`, the corresponding libraries are not selected. Here is where the code has a bug (line 286-297 in the Supervised.py

`        if self.classifiers == "all":
            self.classifiers = CLASSIFIERS
        else:
            try:
                temp_list = []
                for classifier in self.classifiers:
                    full_name = (classifier.__cl

[2021-06-13 10:07] filannim commented on #345
Quote.

[2021-06-14 11:23] Josephsmurph13 commented on #347
Apologies, I am very new to python. I am getting the same error ModuleNotFoundError: No module named 'sklearn.utils.testing'.

Is this issue likely to be fixed in a new version soon? I am unable to install previous versions of lazypredict.

Do we know if editing the Supervised.py under the lazypredict site-packages folder fixes this? If so please could someone share the full contents of the file t

[2021-06-21 01:05] dmirakyan commented on #325
@agupta004 should be in your virtual environment folder:
`/envs/<your_environment_name>/lib/python/site-packages/lazypredict/Supervised.py`

[2021-06-27 08:33] davidegazze opened #353 "Update pandas version"
From the requirement file, I see that the pandas version required is pandas==1.0.5

Do you think that it could be possible to use a newer one?

[2021-06-28 10:35] subho22 opened #354 "ROC AUC is displaying as none"
![image](https://user-images.githubusercontent.com/8230973/123622976-8ebe6300-d82a-11eb-9e0a-bc98d36398dd.png)

[2021-07-02 11:53] naveen-9697 commented on #347
I have the same error and I am using sklearn 0.24.x.
[code]

[2021-07-04 21:55] digifelis opened #355 "spyder ide kernel crash and pandas version"
* Lazy Predict version:0.29
* Python version:3.8
* Operating System:Windows 10

### Description

I am using spyder ide and when I have installed lazypredict , I could not use the function pickle of the pandas framework.
kernel goes crash.
I need to install the last version of pandas instead of 1.0.5

[2021-07-13 20:24] am-official commented on #347
Those who are facing ModuleNotFoundError: No module named 'sklearn.utils.testing'

[code]

[2021-07-16 22:40] abbasshujah commented on #317
I would like to work on this I might have an idea on how to improve the speed. How do I contribute

[2021-07-18 18:22] shyamcody commented on #352
The issue is that you are not supposed to send str as a classifiers list.
An ideal custom classifier list will be ```[xgboost.XGBClassifier, lightgbm.LGBMClassifier,...]```. Clearly, you are supposed to supply a list of classifier objects for custom classifier. So this is not a bug, but more of a misunderstanding.

[2021-07-18 18:29] shyamcody commented on #346
@quekjinhao check my reply in #352. According to the way, code is structured, you will have to send the classifier or regressor objects in a custom classifier list, otherwise, the code will fail. Let me know if that helps.

[2021-07-19 18:28] fabio-reale commented on #350
I just took a look at the code. Never used it, never installed it even. So, with that caveat... it looks like if you pass to the `custom_metric` parameter a callabe with the same signature as `.score()` from sklearn it has to work.

[2021-07-28 21:29] apostolides commented on #327
Hello,

I have the same issue using a train dataset with 125K rows. I'm training the models on google colaboratory with12G ram available. Runtime crashes on 38% prompting a huge amount of allocated memory. Did you find any workarounds for this issue?

Thanks in advance.

[2021-08-04 05:59] ArvindReddyC commented on #337
doing so gave raise to this
![image](https://user-images.githubusercontent.com/40661169/128129695-aa5113c1-e1bc-460c-b252-3ba04ff59c52.png)

[2021-08-05 09:47] AbhiPawar5 commented on #154
Hi @shankarpandala, Thanks for creating such an amazing package!
I have encountered the same issue mentioned above - AttributeError: select_dtypes not found

**Environment : Google Colab**

- Python - 3.7.11
- lazypredict==0.2.9

**Objective : Text classification using CountVectorizer and Tfidf, target label - 0 or 1**

**Sample code :**
[code]

[2021-08-08 15:11] lokijota commented on #343
Same error here. LazyPredict has a few dependencies on older versions of packages (eg, pandas 1.05, etc.)

[2021-08-16 06:31] abhijitpanda890 commented on #337
I too am getting the same issue. Please help me if anyone got it resolved!

[2021-08-16 06:31] abhijitpanda890 commented on #337
No improvement even after uninstall and install

[2021-08-20 17:08] Kayden-lolasery opened #358 "Taking too much time to load (LazyRegressor)"
**Describe the bug**
The regression summary is taking too long to load  IE  > 1hr 30 mins

**To Reproduce**
Steps to reproduce the behavior:
1. Go to IDE (Jupyter NB)
2. Load pandas dataframe
3. Run lazy regressor
4. Takes too long

**Expected behavior**
LazyRegressor summary to come up within an hour.

**Screenshots**
![df info](https://user-images.githubusercontent.com/78312050/130269100-23b8d27

[2021-08-30 19:44] mpaloni commented on #337
Faced the same issue, tried reinstalling pandas - got another problem

[code]

Then i found a [suggestion](https://stackoverflow.com/questions/64318918/pandas-to-csv-typeerror-get-handle-got-an-unexpected-keyword-argument-errors) to align numpy and pandas versions with

[code]

And LazyPredict is running now! :)

[2021-08-31 16:44] RupeshRavindraDharme commented on #325
This is not the only import causing error. There are many others. I tried fixing them but end up giving up.

[2021-09-05 07:41] KalaiKumarR commented on #358
your dataset size??

[2021-09-09 05:47] Deepankar-98 commented on #344
Hi @janaSunrise ,

I found the root cause of this issue and how to fix it.
![image](https://user-images.githubusercontent.com/63971037/132628159-aa3dc856-79d8-433d-9d03-fe891a84fc96.png)

According to the image attached by you, you have used the fit function twice and the 1st red arrow signifies the wrong function call as X_train is used twice instead of X_test.

Replace the 2 red arrows with this

[2021-09-09 06:45] janaSunrise commented on #344
Hi there, I have both lines, because I want to predict on both Train and Test set, Because I have these lines,
[code]
So, Instantiating 2 models helped instead!

[2021-09-09 07:05] Deepankar-98 commented on #344
Yes in case you want both then creating 2 models will be better.

[2021-09-14 12:51] this-josh commented on #353
I too am finding this a limiting factor.

[2021-09-22 12:26] rushidarge opened #361 "Not work on multiclass problem"
while apply on multiclass problem
where output are more than 2

'ColumnTransformer' object has no attribute '_check_n_features'

[2021-09-23 11:21] akshitamishra1213 opened #362 "Custom metric"
Hi there,
Thank you for this code.
It would be nice if you could provide an example of how to use custom metrics.

[2021-09-26 13:20] gschandan commented on #325
If anyone still has this issue, to fix this, I overwrote the contents of `../python3.9/site-packages/lazypredict/Supervised.py` with the contents of the pull request where this issue is fixed but not yet merged [https://github.com/shankarpandala/lazypredict/blob/e6e59f0053208326e90e65b67978122bbaeacace/lazypredict/Supervised.py](url)
Then I was able to successfully import it with scikit-learn 0.24

[2021-09-28 10:47] parayamelo commented on #351
Same here, scikit-learn is already in version 1.0, there is no foreseable change?

[2021-10-04 15:45] jam-one commented on #325
I edited the Supervisor.py file as suggested by agupta004, and now I get:
"Traceback (most recent call last):
  File "D:/Bioinformatics/Python/Python_for_Bioinformatics_04.py", line 8, in <module>
    from lazypredict.Supervised import LazyRegressor
  File "C:\Users\xxxx\AppData\Local\Programs\Python\Python39\lib\site-packages\lazypredict\Supervised.py", line 22, in <module>
    import xgboost
Mod

[2021-10-05 06:18] bablf commented on #361
Same goes for multi-label problems. (N total classes and each sample has 1 to N-1 Labels)

[2021-10-19 09:26] akshitamishra1213 opened #364 "Regarding metrics"
Hello There,
First of all thank you for this module.
My issue is that I am trying to add precision in metrics but when I do that in Supervised.py file , the models and predictions data frames comes empty. Why is that, I can't understand. Please help me with that.
Also AUC values are empty. please explain why?
I am using CICIDS 2017 Dataset for my work.
Please respond urgently.

[2021-10-28 13:22] balazsgonczy opened #365 "ValueError: ('_SigmoidCalibration', <class 'sklearn.calibration._SigmoidCalibration'>) is not in list"
**Describe the bug**
The bug occurs when trying to import the "1 from lazypredict.Supervised import LazyClassifier" line, which causes the "REGRESSORS.pop(REGRESSORS.index(i))" line to crash.

**Code to run:**

from lazypredict.Supervised import LazyClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split

data = load_breast_cancer()
X = data.

[2021-11-18 15:01] krb19-econ opened #366 "Different results when running the models manually"
**Describe the bug**
I have tried using lazypredict for classification algorithms. However, when I run a certain model manually, it provides different performance metrics.

Have attached images using the example given in the documentation.

**Screenshots**
1. Image of models from lazypredict
![image](https://user-images.githubusercontent.com/83277978/142439353-2beee189-2a31-41b3-aedd-6135f212b6ad.

[2021-12-07 11:33] slackline commented on #353
Similarly for packages such as `scipy`, `numpy`, `scikit-learn`, `tqdm` etc. If most other requirements could be un-pegged to specific versions that would be really useful.

[2021-12-19 14:41] lahdjirayhan commented on #366
Have you tried supplying the same `random_state` parameters to both `LazyClassifier` and the sklearn manually-fit classifiers?

[2021-12-19 15:40] krb19-econ commented on #366
Yes. As mentioned in the first image in the original post, the random state was 123. Using that, I have used the  same train and test datasets for both `LazyClassifier` and manual sklearn.

[2021-12-19 16:47] lahdjirayhan commented on #366
Thanks for pointing out, but `LogisticRegression` in scikit-learn also takes a `random_state` parameter. See here: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression

`LazyClassifier` also takes a `random_state` parameter. See here: https://github.com/shankarpandala/lazypredict/blob/652f5de3d1a21a826cac32967eb36549c8cd3b57/lazypredict/Supervised.py#L210-L218

[2021-12-19 22:24] PiotMik commented on #325
A bit late to the party, but managed to fix the exact same problem you had @jam-one.

Inside `Supervisor.py`, I changed `sklearn.ensemble.gradient_boosting.GradientBoostingClassifier` to `sklearn.ensemble.GradientBoostingClassifier`. Be advised there will be like 10 more similar adjustments to do for different imported classes.

At the very end, after the issue with classes has been resolved, ther

[2021-12-21 12:08] krb19-econ commented on #366
Thanks for mentioning that. The `random_state` under `LazyClassifier` is given as 42, image attached.

![image](https://user-images.githubusercontent.com/83277978/146926981-2a08ba31-d753-4e64-9c7f-15d8cd823222.png)

I used the same under `Logistic Regression` while doing it manually. However the result is still coming out to be different.

![image](https://user-images.githubusercontent.com/8327797

[2021-12-27 09:56] jdvala commented on #110
Hi @vaishalisvp I have created a package inspired by lazypredict for text classification, please check it out, comments and suggestions are welcome. https://github.com/jdvala/lazytext

[2021-12-27 09:57] jdvala commented on #154
Hi @AbhiPawar5 I have created a package inspired by lazypredict for text classification. Please check it out, comments and suggestions are welcome
https://github.com/jdvala/lazytext

[2022-01-04 10:53] hsbehera commented on #365
Same error occured

[2022-01-09 20:57] emirtarik commented on #362
I second this. All examples use `custom_metrics=None`. I tried assigning a series of strings looking at the names in the source code but no luck.

[2022-01-09 21:31] balazsgonczy commented on #365
I don't know what caused it but Google Collab's stable environment handles the dependency import smoothly. So I recommend running the workflow in that environment.

[2022-01-09 21:31] #365 closed

[2022-01-16 10:50] anhnt-mageplaza commented on #337
Re-installing pandas to 1.1.5 works for me even though some incompatible warning messages from lazy predict. I think the version for pandas 1.0.5 should be updated to 1.1.5.

[2022-01-29 18:44] shankarpandala commented on #366
It will never be same.
lazypredict does preprocessing of data internally before doing any fit.

[2022-01-29 18:44] #366 closed

[2022-01-29 18:46] shankarpandala commented on #353
Will be done soon in next release

[2022-01-29 18:46] #353 closed

[2022-01-29 18:56] slackline commented on #353
Brilliant, thank you :clap:

[2022-01-31 09:32] mowi-mb opened #368 "Installation issue"
**Describe the bug**
I am not able to install lazypredict. I have a Macbook with the "new" M1 chip and faced some issues regarding the new chip with some other packages in the past. Here it seems to be a version issue with numpy (I need np 1.19.5 because of my tensorflow setup). Is there a way to solve this?

Thanks a lot in advance!

**To Reproduce**
Steps to reproduce the behavior:
1. run `pip i

[2022-02-12 23:31] nathanrawle commented on #368
I'm getting the same error when running pip install lazypredict

I also tried following [these](https://towardsdatascience.com/install-xgboost-and-lightgbm-on-apple-m1-macs-cb75180a2dda) instructions before attempting to install lazypredict, but still received the same error.

[code]
[code]
[code]

[2022-02-16 19:38] microprediction opened #369 "example of using lazypredict with precise"
Here's an example of using lazypredict and precise to create a portfolio of models.

See [colab notebook](https://github.com/microprediction/precise/blob/main/examples_colab_notebooks/lazypredict_model_portfolio.ipynb)

[2022-03-04 12:45] plebiano opened #371 "Error: No module named 'sklearn.utils.testing'"
I'm getting the following error when using LazyClassifier, running lazypredict version 0.2.8:

[code]

It seems that sklearn.utils.testing.all_estimators is deprecated, as by the [docs](https://scikit-learn.org/0.21/modules/generated/sklearn.utils.testing.all_estimators.html). My sklearn is version 1.0.2.

Does this have to do with not having the latest lazypredict version 0.2.9? I tried installin

[2022-03-04 13:25] #371 closed

[2022-03-05 23:37] nina96 commented on #325
I faced a similar issue with Lazypredict but what @PiotMik suggested solved the issue nicely. After making all the necessary adjustments it will work. In case, you guys are stuck on how to edit Supervised.py, I already had Notepad++ with me so it was easy editing it. Once edited it will work fine. I think this issue should be closed now.

[2022-03-16 12:25] avijit2403 commented on #325
@asad-mahmood

As per your suggestion, i have done this but i got the following error :

AttributeError: module 'sklearn.utils' has no attribute '_mocking'

Please guide.

[2022-03-16 15:19] nina96 commented on #325
@avijit2403 could you please tell me in which line that error is being shown I would love to help but my Supervised.py doesn't have any such thing and I couldn't find it in sklearn.utils documentation as well.  Could you upload ss, I will try to help you if you like.

[2022-03-18 04:02] avijit2403 commented on #325
@nina96

I have updates the supervised.py by the following ways :

from sklearn.utils.testing import all_estimators
to
from sklearn.utils import all_estimators

and found the error in the following

![image](https://user-images.githubusercontent.com/74238071/158935164-547c52f4-1545-426e-a4f5-d6036e1f2067.png)
[](url)

[2022-03-19 07:23] nina96 commented on #325
@avijit2403 yaar I don't have that checking classifier in my removed_classifiers. Try removing that line of code. My removed_classifiers is starting from the classifier chain.  I was also not able to find any such thing in sklearn
<img width="584" alt="Screenshot 2022-03-19 125212" src="https://user-images.githubusercontent.com/19887833/159111827-38fd210e-e4cd-4a6d-90e1-069e7182b5a8.png">

[2022-04-21 11:53] Naycat commented on #368
I get the same error using pip. Also running on mac. macOS 11.6.5

[2022-04-21 12:35] Naycat commented on #362
I had the same problem.
The custom metrics are sklearn metrics. you can solve it like this:
`from sklearn.metrics import mean_absolute_error
reg = LazyRegressor(predictions=True, custom_metric = mean_absolute_error)
models, predictions = reg.fit(X_train, X_test, y_train, y_test)`

[2022-04-22 09:31] TanujW commented on #368
Can confirm that @Naycat 's solution is working on macOS 12.3.1 (x86) but not macOS 12.3.1 (arm64). Seems like either this library or required packages are not compatible with Apple Silicon

[2022-05-26 17:05] meeshmg commented on #368
@TanujW !!!!! THANK YOU THAT WORKED!!! Whooooo

[2022-05-27 05:24] kk0186 opened #374 "My lazy prediction is not running"
I am not sure if anyone can help me with this, so I just give it  try in here :

I have tried to run the lazy prediction but whenever I ran it, it stuck at certain place. Originally , I thought it just took time to run the data, so I have left my computer running for 2 weeks. It keep in the same status after 2 weeks( see blow cap screen) ? May I know if there is anyway I can solve this problem ?
!

[2022-06-11 13:24] egligbe commented on #303
When will we get the next version to support current sklearn?

[2022-06-15 10:32] zanjibar commented on #337
Under windows 11  environment, I get the same error after reinstalling.
[code]

[2022-06-16 21:44] naeemmrz opened #376 "An option to supply a list of models to LazyRegressor/LazyClassifier?"
**Is your feature request related to a problem? Please describe.**
Based on the nature of the datasets I work with, it's evident to me that certain regressor will always be a bad choice (for example, Lars, Lasso Ridge, etc), however, Lazypredict (LazyRegressor to be precise) will still take the time to test these regressors. When screening multiple-large datasets, the constraint on time and resour

[2022-07-07 20:37] Gurudeeban-Selvaraj commented on #325
I think @nina96's suggestion is working fine...Thanks........ @avijit2403 maybe try to remove all the error lines in Supervised.py, then the calculation performing smoothly. Also @brendalf's also right there is an issue on the new version of sci-kit-learn with lazypredict.

[2022-07-20 17:12] mpmic commented on #309
This sounds like a really good feature to have, since most models have different parameters, and handling hyperparameter tuning within lazypredict would save a lot of time!

[2022-07-24 08:59] leokaplun opened #377 "No module named 'sklearn.externals._pep562'"
**Describe the bug**
I'm trying to run the same code from the main [site](https://pypi.org/project/lazypredict/), but keep getting the following error:
`No module named 'sklearn.externals._pep562'`

**To Reproduce**
[code]

**Traceback**
[code]

**Desktop (please complete the following information):**
    OS: MAC OS 10.13
    Python Version 3.8.8
    lazypredict Version 0.2.9
    sklearn Version 1

[2022-08-09 10:46] nosacapital opened #378 "NameError: name 'LazyRegressor' is not defined"
* Lazy Predict version: 0.2.9
* Python version: 3.8.13
* Operating System: Mac OS

### Description
I have been trying to use the lazypredict package to no avail. I tried installing it on python 3.9 but couldn't. I moved down to python 3.8 and it installed. By the way, I had to install twice, one via conda,  and then via pip. All seemed well until I tried running some code.

The code I ran was the

[2022-08-10 21:35] lpantano commented on #376
I had the same issue and for the version I am using (0.2.9), if you pass a list with the classes it works.

This will run the first 5 models

[code]

you can filter the all_estimators() list for the models you want.

[2022-09-25 17:35] CodedK commented on #368
@TanujW thank you for this :)
It works !!!

[2022-09-27 16:40] shankarpandala opened #380 "fix issues with scikitleaarn"

[2022-09-29 06:46] Ankur-singh opened #382 "Add "Intel® Extension for Scikit-learn" for better performance"
Just by adding two lines of code, we can drastically improve the performance. Intel Extension for SciKit-learn package dynamically patches scikit-learn estimators while improving performance of machine learning algorithms particularly for Intel CPUs and GPUs.

More details regarding usage and benchmarks can be find here : https://www.intel.com/content/www/us/en/developer/tools/oneapi/scikit-learn.

[2022-09-29 22:58] rahulunair commented on #382
@Ankur-singh  i will take this up :), i always wanted a quick way to get initial preds, as lazypredict already does that, let's try to make it as fast as we can!

[2022-09-29 22:59] rahulunair opened #383 "Add daal4py for xgboost"
In addition to #382 will take a stab at adding daal4py powered xgboost as well.

[2022-09-29 23:29] Ankur-singh commented on #382
sure @rahulunair. It would be great if you can also benchmark and share the results. Other members will also be able to see the performance gains because of Intel Extension for SciKit-learn.

[2022-10-02 23:51] rahulunair commented on #382
@Ankur-singh just added a patch, tested with few toy datasets on an laptop with i7, got around ~1.5x perf improvement vs stock. If you have time, it would be nice to take one of the bigger datasets from this repo and compare perf as well: https://github.com/IntelPython/scikit-learn_bench

[2022-10-02 23:52] rahulunair commented on #383
I just checked, latest xgboost already has intel optimizations and the user dont have to do anything.. :)

[2022-10-02 23:52] #383 closed

[2022-10-13 06:39] shankarpandala commented on #376
We already have that feature.
I understood that lack of documentation is the reason for your situation.

[2022-10-13 06:39] #376 closed

[2022-10-18 04:17] BrandonKMLee commented on #309
Isn't this issue and https://github.com/shankarpandala/lazypredict/issues/345 related and that tuning can be done through validation nudging? Alternatively what ither forms of non-carpet-search based tuning are there (e.g. Bayesian, Halving, Optuna, HyperOpt)

[2022-10-19 07:15] BradKML opened #386 "Questions regarding Examples"
* Lazy Predict version: N/A
* Python version: N/A
* Operating System: N/A

### Description
Why does the current example not use a splitter function, instead relying on hard-coding?
Bonus Question: Are K-Fold and ShuffleSplit good ideas for increasing cross-testing?

Ref (documentation): https://lazypredict.readthedocs.io/en/latest/usage.html#regression
Ref (function): https://scikit-learn.org/stab

[2022-10-19 07:32] BrandonKMLee commented on #386
Sample Draft:
[code]

[2022-11-02 14:38] rainerb-fin opened #388 "Installation issue in PyCharm adn Anaconda"
System: Windows 10 Business 21H2
Anaconda: 2.3.2
Conda: 22.9.0
PyCharm: 2021.2.3 Community Edition

**Description:**

I am attempting to install Lazypredict 0.2.12 for PyCharm using the built-in package management system in PyCharm. The package is available, and the installation starts, but then remains in a loop where it says "examining conflict for...." and then lists a large number of packages.

[2022-11-14 14:12] jahnfirth commented on #317
I've had a similar issue as described by @SSMK-wq. My LazyRegressor got stuck on 74% too and I had left it for 2h+.

My dataset is around 8000r/150c, filled with binary independent 1/0 values predicting a continuous target variable.

I use lazypredict as an initial screen and have enjoyed it's user-friendly low code workflow.

@shankarpandala It would be great if you could include a timeout = <int

[2022-11-14 14:55] shankarpandala commented on #317
Maybe some algorithm is taking a long time to train.
You can skip those algorithms that are taking time. You can specify the list of algorithms you want.

[2022-11-14 14:58] shankarpandala commented on #317
There is already a way to skip models by specifying the algorithms. Time based skipping doesn't work with windows so I didn't implement it

[2022-11-15 07:37] SSMK-wq commented on #317
@shankarpandala - how to pass in the list of algorithms that we want to try? Is there any syntax that you can share? Am not able to find anything in the documentation. Can help please?

[2022-11-16 18:32] IAMHAADICOOL opened #390 "Training stuck at 10%"
I was using Lazy Predictor was image classification task where I opened the images as pandas dataframe and each column indicated the pixel.
I am giving the link for the dataset and attaching the notebook
https://www.kaggle.com/datasets/dhruvildave/english-handwritten-characters-dataset
![image](https://user-images.githubusercontent.com/99788862/202263882-ee0e2f58-fea6-4b4f-96fa-78baa71788ef.png)

[2022-11-21 12:52] SSMK-wq opened #391 "Import LazyRegressor - AttributeError: 'NoneType' object has no attribute 'split'"
**Describe the bug**
Unable to import the Lazy predict Regressor

**To Reproduce**
Steps to reproduce the behavior:
1. import lazypredict
2. from lazypredict.Supervised import LazyRegressor   # throws error in this line as shown below

**Expected behavior**
Lazy Regressor should be imported successfully

**Screenshots**
See below

**Desktop (please complete the following information):**
 - OS: Win

[2022-11-21 13:15] SSMK-wq opened #392 "No module named Lazypredict.Supervised"
**Describe the bug**
Unable to import the Lazy predict Regressor

**To Reproduce**
Steps to reproduce the behavior:
1. import lazypredict
2. from lazypredict.Supervised import LazyRegressor   # throws error in this line as shown below

**Expected behavior**
Lazy Regressor should be imported successfully

**Screenshots**
See below

**Desktop (please complete the following information):**
 - OS: Win

[2022-11-21 18:58] hakkache commented on #317
Hello dears,

@Vinitkumar89  maybe you are facing the same issue as me .
make the parametrs  **Verbose =1** and **ignore_warnings=False** to see the warnings messages .

For my case i am using OneHotEncoder for the Categorical  Data but when i am fitting the Data to LazyRegressor he show  me a warning regrading the unkown categories found . (There is some categories on test dataset not avialable o

[2022-11-22 22:50] new-thang opened #393 "Keeping unwanted algo from running to save time"
What if we tried to save time and improve efficiency by not running unwanted algorithms?

[2022-11-27 17:17] hakkache commented on #317
Hello Dears ,

i hope you're doing fine :)
there is any news regarding my question ?

Thanks for your help